{% extends "base.html" %}

{% block content %}
<div class="py-10 flex items-center justify-center">
  <form method="POST" action="" class="bg-teal-300 px-10 py-6 rounded shadow-md">
    <div class="mb-4">
      <label class="block">Utilisateur</label>
      <input name="utilisateur" type="text" placeholder="Entre ton nom" class="shadow rounded p-2 border border-teal-200 focus:outline-teal-400">
    </div>
    <div class="mb-4">
      <label class="block">Mot de passe</label>
      <input name="mot_de_passe" type="password" placeholder="Mot de passe">
    </div>
    <div class="mb-4">
      <label class="block">Confirmation de mot de passe</label>
      <input name="verif_mot_de_passe" type="password" placeholder="Retape ton mot de passe">
    </div>
    <div>
      <button type="submit" class="bg-teal-200 px-4 py-2 rounded hover:bg-teal-400 font-semibold">Créer un compte</button>
    </div>
  </form>
</div>
{% endblock %}