{%extends './base.html'%}
{%block content%}
  <table>
      <thead>
          <tr>
              <th>Image</th>
              <th>Nom</th>
              <th>Prix</th>
              <th>Description</th>    
          </tr>
      </thead>
        <tbody>
            {% for article in article %}
            <tr>
                <td><img src="{{article['image']}}" class="pt-2"></td>
                <td>{{article['titre']}}</td>
                <td>{{article['prix']}}</td>
                <td>{{article['description']|truncate(150)}}</td>
                <td class="border border-slate-300 p-2"><a href="" target="_blank">Voir</a></td>
                <td class="border border-slate-300 p-2"><a href="">Modifier</a></td>
                <td class="border border-slate-300 p-2"><a href="">Supprimer</a></td>
            </tr>
          {% endfor %} 
        </tbody>
  </table>
{% endblock %}