{% extends 'base.html' %}

{% block content %}
<section class="grid grid-cols-4 gap-20 p-10">
  {% for article in article %}
  <article class="bg-teal-200 shadow-2xl p-3 border-teal-500 border-solid border-2 rounded-xl transition duration-300 transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"> <b>{{ article['titre']}}</b></h3>
    <hr>
    <p class ="pt-2">Prix de l'article : <b>{{article['prix']}}</b></p>
    <img class="pt-1 px-16 scale-110" src="{{article['image']}}"/>
  </article>

  {% endfor %}
</section>


{% endblock %}

