{% extends 'base.html' %}

{% block content %}
<section class="grid grid-cols-4 gap-20 p-10">
  <article class="bg-teal-200 shadow-2xl p-3 border-teal-500 border-solid border-2 rounded-xl transition duration-300 transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"> <b>Dunk</b></h3>
    <hr>
    <p class ="pt-2">Prix de l'article : <b>120€</b></p>
    <img class="pt-4 px-10 scale-110" src="https://i.goopics.net/p1nimi.png"/>
  </article>
  <article class="bg-teal-200 shadow-2xl p-3 border-teal-500 border-solid  border-2 rounded-xl transition duration-300 transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"><b>Dunk</b></h3>
    <hr>
    <p class="pt-2">Prix de l'article : <b>215€</b></p>
    <img class="pt-4 px-10" <img src="https://i.goopics.net/en8ga4.png"/>
  </article>
  <article class="bg-teal-200 shadow-2xl p-3 border-teal-500 border-solid  border-2 rounded-xl transition duration-300 transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"><b>Dunk</b></h3>
    <hr>
    <p class ="pt-2">Prix de l'article : <b>230€</b></p>
    <img class="pt-3 px-10 scale-80" src="https://i.goopics.net/91u5tb.png"/>
  </article>
  <article class="bg-teal-200 shadow-2xl p-3 border-teal-500 border-solid  border-2 rounded-xl transition duration-300 transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"><b>Dunk</b></h3>
    <hr>
    <p class ="pt-2">Prix de l'article : <b>300€</b></p>
    <img class="pt-1 px-10 scale-80" src="https://i.goopics.net/wuh5c2.png"/>
  </article>
</section>

<section class="grid grid-cols-4 gap-20 p-10">
  <article class="bg-teal-200 shadow-2xl p-3 border-teal-500 border-solid border-2 rounded-xl transition duration-300 transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"> <b>Dunk</b></h3>
    <hr>
    <p class ="pt-2">Prix de l'article : <b>120€</b></p>
    <img class="pt-3 px-10 scale-80" src="https://i.goopics.net/le48qb.png"/>
  </article>
  <article class="bg-teal-200 shadow-2xl p-3 border-teal-500 border-solid  border-2 rounded-xl transition duration-300 transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"><b>Dunk</b></h3>
    <hr>
    <p class="pt-2">Prix de l'article : <b>215€</b></p>
    <img class="pt-4 px-10" <img src="https://i.goopics.net/fqnm6d.png"/>
  </article>
  <article class="bg-teal-200 shadow-2xl p-3 border-teal-500 border-solid border-2 rounded-xl transition duration-300 transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"><b>Dunk</b></h3>
    <hr>
    <p class ="pt-2">Prix de l'article : <b>230€</b></p>
    <img class="pt-3 px-10" src="https://i.goopics.net/biaqlw.png"/>
  </article>
  <article class="bg-teal-200 shadow-2xl p-3 border-2 border-teal-500 border-solid transition duration-800 rounded-xl transform scale-100 hover:scale-110">
    <h3 class="text-lg text-center pb-2"><b>Dunk</b></h3>
    <hr>
    <p class ="pt-2">Prix de l'article : <b>300€</b></p>
    <img class="pt-4 px-10 scale-110" src="https://i.goopics.net/1qwt48.png"/>
  </article>
</section>
{% endblock %}