<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="static/style.css" rel="stylesheet"> 
  <title>Document</title>
</head>
<body>
<!-- debut de mon code -->
  <!-- entete --> 
  <header class="bg-orange-200 flex justify-between p-10 text-black">
    <h1 class="text-3xl font-semibold	typo">Amazonite</h1>
    <nav>
      <ul class="flex space-x-10 text-xl font-medium">
        <li><a href="/">ACCUEIL</a></li>
        <li><a href="">Se connecter</a></li>
        <li><a href="">S'enregistrer</a></li>
      </ul>
    </nav>
  </header>

  <!-- corps de page --> 
  <main class="bg-amber-50">
   <!-- intro du haut de la page d'accueil -->
    <div class="text-center py-10 px-96">
      <h2 class="text-2xl pb-2">bonjour</h2>
      <p class="text-lg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione corrupti iure temporibus? Suscipit, cum! Molestias nostrum fugiat dolores ab quia velit nulla, officia omnis obcaecati eum, ea accusantium debitis veritatis, consequatur aperiam iure repellat nesciunt nobis culpa amet voluptas? Consequuntur modo, doloribus fuga consectetur tempore nam veritatis suscipit aut cum?
      </p>
    </div>

    <!-- section d'une ligne d'article -->
      <section class="grid grid-cols-4 gap-20 p-10">
        <article class="bg-white shadow-xl p-3 border-orange-200 border-solid border-2 rounded-lg">
          <h3 class="text-lg text-center pb-2">titre</h3>
          <hr>
          <p class="pt-2">Activité proposée par : <b>auteur</b></p>
          <p class="pt-4">description</p>
          <p class="pt-4"><b class="text-red-500">Conclusion</b> conclusion</p>
        </article>
      </section>


  </main>

  <!-- pied de page --> 
  <footer   class="bg-stone-400 p-6 text-center">
    <p>Copyright Arthur, Antoine, Edouard&copy;</p>
    <p>Contact : soiz@gmail.com</p>
  </footer>

<!-- fin de mon code --> 
</body>
</html>